*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    background-color: #f3f3f3;
    font-family: arial, helvetica, sans-serif;
}

small{
    color: rgb(150, 150, 150);
    margin: 1px;
    font-weight: bold;
}

#main-header{
    background-color: black;
    padding: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row-reverse;
    height: 80px;
    padding-right: 10%;
    border-bottom: 5px solid #e0e0e0;

}

#main-menu{
    padding-top: 25px;
}

.container{
    padding-top: 25px;
    padding-right: 10px;
    margin-bottom: 15px;
}

#main-menu-content{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#main-menu-content .card{
    padding: 1px;
    margin-top: 5px;
    box-sizing: border-box;
}

#main-menu-content button{
    width: 100%;
}

#contact{
    padding: 15px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

#main-footer{
    background-color: black;
    height: 30px;
    margin-top: 20px;
    border-top: 5px solid #e0e0e0;
}



