{% extends 'base.html' %}

{%block title%} Home {%endblock%}

{%block content%}

    <div class="container" id="main-menu">
        <h4>Quick Links</h4>
        <p class="text-secondary">
            Elige una de nuestras 3 opciones.
        </p>
        <div class="row" id="main-menu-content">
            
            <div class="card text-center col-md-3">
                <div class="card-body">
                  <h5 class="card-title">Cursos</h5>
                  <p class="card-text text-secondary">
                    Descubre los cursos activos y archivados que zero2hero ofrece.
                    Accede a contenido exclusivo y participa en discuciones.
                  </p>
                  <button type="button" class="btn btn-warning">GO!</button>
                </div>
            </div>

            <div class="card text-center col-md-3">
                <div class="card-body">
                  <h5 class="card-title">Estudiantes</h5>
                  <p class="card-text text-secondary">
                    Administra tus cursos y avance desde nuestra plataforma interactiva. 
                    Vuelvete un miembro de la comunidad zero2hero.
                  </p>
                  <button type="button" class="btn btn-warning">GO!</button>
                </div>
            </div>

            <div class="card  text-center col-md-3">
                <div class="card-body">
                  <h5 class="card-title">Docentes</h5>
                  <p class="card-text text-secondary">
                    Herramienta que simplifica la creacion y administracion de cursos.
                    Potencializa la interaccion con la comunidad de alumnos.
                  </p>
                  <button type="button" class="btn btn-warning">GO!</button>
                </div>
            </div>

        </div>

        <div class="container" id="about">
            <h4>About zero2hero</h4>
            <p class="text-secondary">
                zero2hero es una academia en linea enfocada programacion, estadistica, ciencia de datos y finanzas.
            </p>

            <div class="row text-dark bg-dark" id="contact">
                <h5 class="text-light">Contacto</h5>
                <p class="text-warning">Si tienes cualquier duda, comentario: <strong>contacta al equipo zero2hero</strong>.</p>

                <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1" class="text-primary">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <br>
                    <div class="form-group">
                      <label for="exampleInputPassword1" class="text-primary">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>

                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>

        </div>
        
    </div>

{%endblock%}