{% extends 'base.html' %}

{%block title%} Home {%endblock%}

{%block content%}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>zero2hero academy</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6>Aprende habilidades escenciales, desde cero.</h6>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>Cursos</p>
            </div>
            <div class="col-sm-4">
                <p>Alumnos</p>
            </div>
            <div class="col-sm-4">
                <p>Docentes</p>
            </div>
        </div>

        
    </div>

{%endblock%}